//base styles
html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    // font-family: $font-family;
    line-height: 1.5;
    background-color: #000;
    background-image: url("https://templated.co/items/demos/visualize/images/bg.jpg");
    background-size: cover;
    background-position: top center;
}