* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
}

body {
    background-color: tomato;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    width: 275px;
    height: 440px;
    background-color: #294679;
    border: 18px solid #2D2623;
    position: relative;
    border-bottom: none;
}

.window:before {
    background-color: #2D2623;
    width: calc(100% + 68px);
    height: 18px;
    left: -34px;
    bottom: 0;
    border-top: 6px solid #22366C;
}

.window:after {
    width: calc(100% + 18px);
    height: 6px;
    background-color: #439ABF;
    bottom: 12px;
    left: -9px;
}

.window-details {
    position: relative;
    height: 12px;
    width: 100%;
    top: 190px;
    background-color: #2D2623;
}

.window-details:before,
.window-details:after {
    border: 6px solid #439ABF;
    width: 100%;
    border-top: none;
}

.window-details:before {
    height: 190px;
    top: -190px;
}

.window-details:after {
    height: 208px;
    bottom: -208px;
    border-bottom: none;
}

.mountains-left,
.mountains-right {
    position: absolute;
    bottom: 18px;
    width: 0;
    height: 0;
    border-bottom: 60px solid #22366C;
}

.mountains-left {
    left: 6px;
    border-right: 22px solid transparent;
}

.mountains-right {
    right: 6px;
    border-left: 22px solid transparent;
}

.mountains-left:before,
.mountains-left:after,
.mountains-right:before {
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 68px solid #22366C;
}

.mountains-left:before {
    left: 22px;
}

.mountains-right:before {
    right: 0px;
}

.moon {
    background-color: #E9AE4B;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 35px;
    top: 35px;
}

.moon:before {
    background-color: #294679;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top: 4px;
}

.star,
.star:before,
.star:after {
    background-color: #E9AE4B;
    position: absolute;
    border-radius: 50%;
}

.star-glow {
    animation: glow ease-in-out infinite alternate;
}

.star-1 {
    width: 8px;
    height: 8px;
    top: 230px;
    left: 50%;
    animation-duration: 5s;
}

.star-1:before {
    width: 4px;
    height: 4px;
    left: -90px;
    top: 60px;
    animation: glow ease-in-out infinite alternate;
    animation-duration: 6s;
}