* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
}

body {
    background-color: tomato;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    width: 275px;
    height: 440px;
    background-color: #294679;
    border: 18px solid #2D2623;
    position: relative;
    border-bottom: none;
}

.window:before {
    background-color: #2D2623;
    width: calc(100% + 68px);
    height: 18px;
    left: -34px;
    bottom: 0;
    border-top: 6px solid #22366C;
}

.window:after {
    width: calc(100% + 18px);
    height: 6px;
    background-color: #439ABF;
    bottom: 12px;
    left: -9px;
}